:root {
  --primary-color: rgb(36, 36, 36);
  --secondary-color: rgba(255, 255, 255, 0.87);
  --nav-bar-height:65px;
  --grad-uno:linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197);
  --color-card-grad:linear-gradient(85deg,#434343,#262626);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--secondary-color);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}
/*******************************************************************************/
/*****************************MEDIA QUERY MOBILE FIRST*************************/
/******************************************************************************/
@media(min-width:320px) and (max-width:768px) {
body{
  padding: 10px;
  width: 100%;
}    
header{
  width: 100%;
  padding:0;
  display: flex;
  flex-wrap: wrap;
}
.icon-imgContainer{
  width:60px;
  height:60px;
}
.icon-imgContainer img {
  width: 100%;
  height: 100%;
}
header > .navbar{
  width: 100%;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  margin-top:10px;
  position: relative;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.navbar > .links{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin-top: 30px;
  /* border: 1px solid red; */
}

.navbar > .links > ul{
  width: 100%;
  display: flex;
  /* border: 1px solid blue; */
}

.navbar > .links > ul > li{
  width: 80%;
  /* border: 1px solid orange; */
  }
.navbar > .links > ul > li > a{
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 5px;
  width:80%;
  font-size:0.9rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  border: 1px solid white;
  text-decoration: none;
  margin: auto;
}
header > .navbar > .menu-content{
  display: flex;
  flex-direction: row;
  margin-top:0px;
  opacity: 0;
  padding:0;
  color: black;
}
header > .navbar > .menu-content--open{
  transition: all 200ms ease-in-out;
  opacity:1;
  margin-left:0;
  margin-top:20px;
  padding: 10px;
}
.search {
  border-left: 1px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: auto;
  border: none;
}
.favorite-element > a{
  font-size: 0.8rem;
  color: var(--secondary-color);
  cursor: pointer;
  color: white;
}
.cajaArriba{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top:10px;
}
/****main****/
main{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding:5px;
  margin-top:0px;
}
h1{
  font-size: 4rem;
  justify-content: center;
  margin-top:0px;
  text-align: center;
}
h2{
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
#menu-toggle{
  display: flex;
  width:200px;
  height: 50px;
  padding:10px;
  border-radius: 10px;
  border: 2px solid white;
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.3rem;
  /* margin: auto; */
  margin-top:40px;
  background-color: gray;
  justify-content: center;
  cursor: pointer;
  position: relative;
  /* border: 1px solid yellow; */
}

#menu-search{
        height: 40px;
        margin-top:0px;
        text-align: center;
        padding: 10px;
        /* border:1px solid blue  */
}
#sobreMi{
  display: flex;
  flex-wrap: wrap;
  margin-top:10px;
  padding: 5px;
  text-align: center;
}
#sobreMi p{
  text-align: center;
padding: 10px;
border-radius: 5px;
font-size: 0.9rem;
border: 1px solid white;
}
#tutoriales > p{
display: flex;
flex-wrap: wrap;
text-align: center;
padding: 5px;
border-radius: 5px;
font-size: small;
border: 1px solid white;
}
#tutoriales .lista{
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  font-size: 0.8rem;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid white;
}
#tutoriales .lista a{
  color: white;
  cursor: pointer;
}
#tutoriales .lista a:hover{
  color:gray;
  font-size: small;
  cursor: pointer;
}
/****contactame****/
#contacto{
  margin-top: 30px;
  text-align: center;
}
/****footer****/
footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding:30px;
  margin: auto;
  margin-top:150px;
  /* border: 1px solid red; */
}
footer a{
  text-align: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  /* border: 1px solid yellow; */
}
footer p{
  margin: auto;
  text-align: center;
  justify-content: center;
  margin-top:0px;
  display: flex;
  padding:1%;
  font-size: 0.9rem;
  color: white;
}
}
/********************************************************************************/
/***************************MEDIA QUERY DESDE 769px******************************/
/*********************************************************************************/
@media(min-width:769px) and (max-width:1500px) {
 
  header{
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding:0%;
    margin-top:20px;
    /* border: 1px solid red; */
  }
  header > .navbar{
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 100%;
    /* border: 1px solid violet; */
  }
  .navbar > .links {
    margin: auto;
    display: flex;
    width: 80%;
    height: 50px;
    /* border: 1px solid yellow; */
  }
  .navbar > .links > ul{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid white; */
  }
  .navbar > .links > ul > li{
    width:40%;
    height: 50px;
    /* border: 1px solid green; */
  }
  .navbar > .links > ul > li > a {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 5px;
    width:100%;
    font-size:1.3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    text-decoration: none;
    transition: font-size 0.5s ease-in-out;
  }
  .navbar > .links > ul > li > a:hover {
    font-size:1.5rem;
  } 
  h1{
    text-align: center;
    margin: auto;
    margin-top:40px;
    font-size:7rem;
    /* border: 1px solid yellow; */
  }
  #menu-toggle{
    display: flex;
    width:150px;
    height: 40px;
    padding:10px;
    border-radius: 10px;
    border: 2px solid white;
    color: #262626;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
    margin-top: 50px;
    background-color: rgb(187, 183, 183);
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 30px;
    transition: font-size 0.5s ease-in-out;
  }
  #menu-toggle:hover{
  font-size: 1.4rem;
  }
  header > .navbar > .menu-content{
    display: flex;
    flex-direction: row;
    margin-top:0px;
    opacity: 0;
    padding:0;
    color: black; 
    /* border: 1px solid yellow; */
  }
  header > .navbar > .menu-content--open{
    display: flex;
    flex-direction: row;
    transition: all 300ms ease-in-out;
    opacity:1;
    width:100%;
    margin: auto;
    margin-top:25px;
    /* border: 1px solid violet; */
  }
  #menu-search{
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 10px;
    border-radius:7px ;
    margin: auto;
  }
  .search {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  #search-ul{
    /* height: 400px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
    /* border: 1px solid red; */
  }
  #search-ul > .favorite-element{
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 40px;
    /* border: 1px solid yellow; */
  }
  .favorite-element > a{
    display: flex;
    flex-direction: column;
    /* height: 30px; */
    background-color:white;
    width: 90%;
    font-size: 0.7rem;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
  }
  .favorite-element > a:hover{
   font-size: 0.8rem;
  }
  /****main****/
  main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:5px;
    margin-top:100px;
  }
  h2{
    text-align: center;
    margin-top: 10px;
    font-size:2.5rem;
  }
 
  #sobreMi, #tutoriales{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top:30px;
    padding: 5px;
    text-align: center;
    /* border:1px solid red */
  }
  #sobreMi{
    margin-left: 0px;
    text-align: left;
    width: 100%;
    /* border: 1px solid red; */
  }
  #sobreMi p{
    width: 100%;
    padding: 5px;
    font-size:1.4rem;
  /* border: 1px solid yellow; */
  }
  #tutoriales > p{
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  font-size:1.2rem;
  width: 100%;
  padding: 5px;
  font-size:1.4rem;
  /* border: 1px solid white; */
  }
  #tutoriales .lista{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    gap: 15px;
    padding:20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid white;
  }
  #tutoriales .lista a{
    width: 40%;
    color: white;
    cursor: pointer;
    /* border: 1px solid red; */
  }
  #tutoriales .lista a:hover{
    color:gray;
    font-size:medium;
    cursor: pointer;
  }
  /************contactame*********/
  #contacto{
    margin-top: 100px;
    font-size: 1.2rem;
    text-align: center;
  }
  /**************************footer**************/
  footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding:30px;
    margin: auto;
    margin-top:150px;
    /* border: 1px solid red; */
  }
  footer a{
    text-align: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    /* border: 1px solid yellow; */
  }
  footer p{
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top:0px;
    display: flex;
    padding:1%;
    font-size: 1rem;
    color: white;
  }
}